<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROYECTO AMAZON</title>
    <link rel="icon" href="img/logo.jpg"/>   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Principal"><img src="~/img/logo_amazon.png" alt="" style="max-height: 43px; width: auto;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Carrera" asp-action="Principal">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Participantes">Participantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Grupo">Grupo AWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Realidad">Realidad</a>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {    
                        <a asp-controller="Home" asp-action="Logout"><button type="button" class="btn btn-dark" style="color: #FE914B; border-radius: 12px;">CERRAR SESION</button></a>    
                    }else{    
                        <a asp-controller="Home" asp-action="Form"><button type="button" class="btn btn-dark" style="color: #FE914B; border-radius: 12px;">REGISTRARSE</button></a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "bcc68f15-6c92-4b67-9d79-e2f796f8356a", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "29eaed2b-38b1-4089-a20b-818da2f60faa", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
            };
        setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
            document.head.appendChild(t);
        });
    </script>

    <footer class="d-flex flex-wrap justify-content-between align-items-center footer border-top">
        <div class="container">
            &copy; 2022 - GRUPO AWS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
