
@{
    ViewData["Title"] = "Nosotros";
}

<div class="text-center">
    <h2 class="display-4" style="font-weight: 500; padding-top: 10px; padding-bottom: 50px;">Grupo AWS</h2>
</div>


<div class="row">

    <div class="col-4">

        <div class="card" style="border-radius: 20px; opacity: 86%; margin-bottom: 30px;">
  <img src="~/img/canevaro.jpg" style="width: 100%; border-top-right-radius: 20px; border-top-left-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">Diego Alberto Canevaro Dulanto</h5>
    <p class="card-text"><small class="text-muted">Líder</small></p>
  </div>
</div>
    </div>

<div class="col-4">

        <div class="card" style="border-radius: 20px; opacity: 86%; margin-bottom: 25px;">
  <img src="~/img/melissa.jpg" style="width: 100%; border-top-right-radius: 20px; border-top-left-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">Melissa Alejandra Parra Quispe</h5>
    <p class="card-text"><small class="text-muted">QA</small></p>
  </div>
</div>
</div>

<div class="col-4">

        <div class="card" style="border-radius: 20px; opacity: 86%; margin-bottom: 25px;">
  <img src="~/img/rai.jpg" style="width: 100%; border-top-right-radius: 20px; border-top-left-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">Jorge Raí Campos Pastor</h5>
    <p class="card-text"><small class="text-muted">Página Web</small></p>
  </div>
</div>

</div>
</div>


<div class="row" style="margin-bottom: 30px;">

    <div class="col-4">

        <div class="card" style="border-radius: 20px; opacity: 86%; margin-bottom: 25px;">
  <img src="~/img/eduardo.png" style="width: 100%; border-top-right-radius: 20px; border-top-left-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">Eduardo Gianfranco Bustios Falla</h5>
    <p class="card-text"><small class="text-muted">Realidad Virtual</small></p>
  </div>
</div>
    </div>

<div class="col-4">

        <div class="card" style="border-radius: 20px; opacity: 86%; margin-bottom: 25px;">
  <img src="~/img/bryan.jpg" style="width: 100%; border-top-right-radius: 20px; border-top-left-radius: 20px;">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: 700;">Bryan Orlando Coronel Medina</h5>
    <p class="card-text"><small class="text-muted">NPL - Chatbot</small></p>
  </div>
</div>
</div>
</div>