@{
    ViewData["Title"] = "Iniciar sesión";
}

@model ALUMNO;

<div class="row" style="margin-top: 40px; margin-bottom: 30px;">
    <div class="col-3"></div>
    <div class="col-6">
        <div style="background-color: #FE914B; border-radius: 15px; padding-bottom: 10px; opacity: 86%;">
            <h2 style="font-weight: 600; text-align: center; padding-top: 15px; padding-bottom: 15px;">Acceder al sitio</h2>
            <div class="text-center">
                <img src="~/img/logo_amazon.png" alt="" style="width: 150px; height: auto; border-radius: 50%; padding-top: 10px; padding-bottom: 10px;">
            </div>
            <form method="post">
                <div class="form-group" style="padding-left: 50px; padding-right: 50px;">
                    <label asp-for="email"></label>
                    <input type="text" asp-for="email" class="form-control">
                </div>
                <div class="form-group" style="padding-left: 50px; padding-right: 50px; margin-top: 25px;">
                    <label asp-for="contrasena"></label>
                    <input type="password" asp-for="contrasena" class="form-control">
                </div>
                <div style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-dark" style="color: #FE914B; border-radius: 12px; margin-top: 20px;">INGRESAR</button>
                </div>
            </form>
            <hr>
            <p style="text-align: center;">¿No Tienes Una Cuenta? <a asp-controller="Home" asp-action="Form">Regístrate Aquí</a>.</p>
        </div>
    </div>
    <div class="col-3"></div>
</div>
