@{
    ViewData["Title"] = "Inicio";
}

@model ALUMNO

@if (User.Identity.IsAuthenticated)
{    <div class="text-center">
    <div style="text-align: center;"><p style="color: #e7e7e7; margin-top: 15px;">Bienvenido @Model.nombre</p></div>
    </div>
}else{    
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
}

<div class="row">
    <div class="col">
        <a asp-controller="Home" asp-action="Form"><button type="button" class="btn btn-dark" style="color: #FE914B; border-radius: 12px;">Agregar nueva carrera</button></a>
    </div>
    <div class="col" style="text-align: right;">
        <a asp-controller="Home" asp-action="Form"><button type="button" class="btn btn-dark" style="color: #FE914B; border-radius: 12px;">Ver Participantes</button></a>
    </div>
</div>
<hr>